* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d6d6dd;
    font-family: "Montserrat";
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.hero{
    text-align: center;
    margin-bottom: 40px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 25%;
    object-fit: fill;
    border: 4px solid #181853;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.1);
}

.hero h1 {
    font-size: 32px;
    font-weight: 700px;
}

.subtitle {
    color: #666;
    font-size: 18px;
    font-weight: 350px;
}

section {
    width: 100%;
    max-width: 600px;
    background-color: #eaecf3;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 25px rgba(0,0,0, 0.1);
    margin-bottom: 30px ;
    transition: 0.5s;
}

section: :hover{
    box-shadow: 0 2px 100px rgba(0,0,0, 0.1);
}

section h2 {
    font-size: 24px;
    margin-bottom: 40px;
    color: #181853;
    text-align: center;
}

section p{
    font-size: 18px;
    color: #444;
}

.about li {
    margin-bottom: 15px;
    font-size: 18px;
    color: #444;
}

.a li {
    margin-bottom: 15px;
    font-size: 18px;
    color: #444;
}

.m {
    width: 500px;
    height: 300px;
    box-shadow: 0 2px 6px rgba(0,0,0, 0.1);
    margin-bottom: 100px ;
    transition: 0.5s;
    border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

section h3 {
    text-align: center;
    margin-bottom: 5px;
}

section p1 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 50px;
}

.recommend p2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #444;
}

.zashirovan li {
    margin-bottom: 15px;
    font-size: 18px;
    color: #444;
}

.proniknovenie li {
    margin-bottom: 15px;
    font-size: 18px;
    color: #444;
}
